* {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

body {
	background:#253E71;
}

.navleft {
	text-align:center;
}

.navfixed {
	position: fixed;
}

nav {
	position: fixed;
}

.heading {
	width: 700px;
margin: 0 auto;
margin-top: 160px;
}

.navleft h3 {
	font-weight: 100;
background: rgba(0,0,0,.1);
color: #E5DDDD;
padding: 20px 0px;
margin: 0;
border-bottom: 1px solid rgba(255,255,255,.05)
}

.navleft h3:hover {
	background: rgba(0,0,0,.2);
	cursor:pointer;
}

.leftnav {
	position: absolute;
	z-index: 5;
	width:400px;
	background: #253E71;
	height: 100%;
	margin-left:-400px;
}

.content	{
	position: relative;
	z-index: 6;
	height:100%;
	box-shadow: -6px 0px 15px rgba(0,0,0,.3)

}

.main-header {
	position: relative;
	z-index: 1;
	/* Location of the image */
  background-image: url(../images/bg1.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  height:500px;
}

.mainnav {
	padding-top:30px;
}

.navicon {
	width:30px;
}

.hamburger {
	margin: 0;
float: left;
padding: 13px 16px 11px 13px;
background: #000000;
color: #ffffff;
transition: all .4s;
-webkit-transition: all .4s;
}

.hamburger:hover {
	cursor: pointer;
	background: #253E71;
}

h1.topnav {
	margin: 0;
	color:#ffffff;
	font-weight: 100;
	background: rgba(0,0,0,.3);
	padding: 10px 0 10px 30px;
	width: 146px;
	float:left;

}

.main-container {
	background-image:url('../images/tools.png');
	background-repeat:no-repeat;
	background-color: #DBDEDD;
	height:530px;
	background-position: center 10px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.3)

}

.main-container-1 {
	width:700px;
	margin:0 auto;
}

.main-container-h2 {
	margin: 0 ;
color: #132752;
font-weight: 400;
font-size: 46px;
text-align: center;
padding-top: 76px;
line-height: 60px;
}

.main-container-h3 {
	color: rgba(255,255,255,.9);
	border-bottom: 1px solid rgba(255,255,255,.9);

	margin:0 auto;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 36px;
	width:108px;
}

.main-container-p {
	color: rgba(255,255,255,.9);
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	
	}

.main-container-2 {
	width:900px;
	margin:0 auto;

}

.second-container {
	
	background: #132752;
	padding:10px 0px 40px;
}

.third-container {
	background:#ffffff;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.3);
}

.third-container-3 {
	width:900px;
	margin: 0 auto;
	padding: 0px 0px 40px;
}

.third-container-h3 {
	
	color: #000000;
	border-bottom: 1px solid #000000;
	margin:0 auto;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 36px;
	width:190px;
}

.three-under {
	border-top: 1px solid #ddd;
padding-top: 15px
}

.three-link a {
	color: #C6C6C6;
	text-decoration:none;
}

.three-link a:hover {
	color: #253E71;
}

.three-big {
	font-size:22px;
}

.fourth-container-wrapper {
	background:#DBDEDD;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.3);
}

.fourth-container {
	width:900px;
	margin:0 auto;
	padding: 0px 0px 30px;
}

.fourth-container-h3 {
	
	color: #253E71;
	border-bottom: 1px solid #253E71;
	margin:0 auto;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 36px;
	width:146px;
}

.sponsor {
	float:left;
	width:297px;
	height:200px;
	border-radius: 8px;
	margin: 25px;
	text-align:center;
	color:#253E71;
	border:1px solid rgba(0,0,0,.1);
}

.sponsor p {
	padding-top:17px;
}

.sponsortwo p {
	margin-bottom:10px;
}

.sponsor:hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);
	cursor: pointer;
	background: #DEDEDE;
}

.sponsorcontainer {
	width:700px;
	margin: 20px auto 0px;
}

.webcare {
	background: #DEDEDE;
	width:615px;
	margin: 0 auto;
	height:0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);
	border-radius:8px;
	overflow: hidden;
}

.webcare h4 {
	margin: 0;
	color:#253E71;
	padding:20px 20px 0px 20px;
}

.webcare p {
	margin: 10px 0px 0px 0px;
	line-height:26px;
	padding: 0px 20px 20px 20px;
}

.hive h4 a, .webcare h4 a {
	color:#253E71;
}

.hive {
	background: #DEDEDE;
	width:615px;
	margin: 0 auto;
	height:0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);
	border-radius:8px;
	overflow: hidden;
}

.hive h4 {
	margin: 0;
	color:#253E71;
	padding:20px 20px 0px 20px;
}

.hive p {
	margin: 10px 0px 0px 0px;
	line-height:26px;
	padding: 0px 20px 20px 20px;
}

footer {
	background:#081839;
}

.footer-content {
	width: 900px;
	margin: 0 auto;
	padding:20px 0px 80px;
}

.footer-h3 {
	float:right;
	color:#ffffff;
	margin: 0;
	padding: 20px 25px;
	border-radius: 10px;
	transition: all .4s;
-webkit-transition: all .4s;
}

.footer-h3:hover {
	background: #1D3056;
}

.footer-h4 {
	color: #ffffff;
	margin:0;
	font-weight: 300;
	float:left;
	padding: 20px 25px;
}

.clearfix {
	clear:both;
}

/* Media Queries */

@media only screen and (min-width: 600px) and (max-width: 900px) {

 }



