* {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

body {
	background:#0e2048;
	margin:0;
}

.navleft {
	text-align:center;
}

.navfixed {
	position: absolute;
}

nav {
	position: fixed;
}

.heading {
	width: 700px;
margin: 0 auto;
margin-top: 160px;
}

.heading-image {
	width:700px;
}

.navleft h3 {
	font-weight: 100;
background: rgba(0,0,0,.1);
color: #E5DDDD;
padding: 20px 0px;
margin: 0;
border-bottom: 1px solid rgba(255,255,255,.05)
}

.navleft h3:hover {
	background: rgba(0,0,0,.2);
	cursor:pointer;
}

.leftnav {
	position: absolute;
	z-index: 5;
	width:400px;
	background: #253E71;
	height: 100%;
	margin-left:-400px;
}

.content	{
	position: relative;
	z-index: 6;
	height:100%;
	box-shadow: -6px 0px 15px rgba(0,0,0,.3)

}

.main-header {
	position: relative;
	z-index: 1;
	/* Location of the image */
  background-image: url(../images/bg1.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  height:500px;
}


.main-header2 {
	position: relative;
	z-index: 1;
	/* Location of the image */
  background-image: url(../images/bg1.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

  
}

.mainnav {
	padding-top:30px;
}

.navicon {
	width:30px;
}

.hamburger {
	margin: 0;
float: left;
padding: 13px 16px 11px 13px;
background: #000000;
color: #ffffff;
transition: all .4s;
-webkit-transition: all .4s;
}

.hamburger:hover {
	cursor: pointer;
	background: #253E71;
}

h1.topnav {
	margin: 0;
	color:#ffffff;
	font-weight: 100;
	background: rgba(0,0,0,.3);
	padding: 10px 0 10px 30px;
	width: 146px;
	float:left;

}

.main-container {
	background-image:url('../images/tools.png');
	background-repeat:no-repeat;
	background-color: #DBDEDD;
	height:530px;
	background-position: center 10px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,.3)

}

.main-container-1 {
	width:700px;
	margin:0 auto;
}

.main-container-h2 {
	margin: 0 ;
color: #132752;
font-weight: 400;
font-size: 46px;
text-align: center;
padding-top: 76px;
line-height: 60px;
}

.main-container-h3 {
	color: rgba(255,255,255,.9);
	margin:0 auto;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 10px;
	float:left;
	letter-spacing:2px;
	font-size:26px;
}

.line1 {
	margin-right:25px;
	opacity:.9;
	float:left;
	padding-top:28px;
}

.line2 {
	margin-left:25px;
	opacity:.9;
	float:left;
	padding-top:28px;
}

.line-holder {
	padding-top:12px;
	width: 435px;
	margin: 0 auto;
}

.line-holder-2 {
	width:514px;
	margin: 0 auto;
	padding-top:22px;

}

.line-holder-3 {
	width:474px;
	margin: 0 auto;
	padding-top:22px;
}



.main-container-p {
	color: rgba(255,255,255,.9);
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	}

.main-container-2 {
	width:900px;
	margin:0 auto;

}

.second-container {
	
	background: #132752;
	padding:10px 0px 40px;
}

.third-container {
	background:#ffffff;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,.2);
}

.third-container-3 {
	width:900px;
	margin: 0 auto;
	padding: 0px 0px 40px;
}

.third-container-h3 {
	color: #000000;
	margin:0 auto;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 10px;
	float:left;
	letter-spacing:2px;
	font-size:26px;
}

.conduct-container {
	background:#EDEDED !important;
}

.three-under {
	border-top: 1px solid #000000;
padding-top: 30px;
}

.three-link {
	font-size:18px;
	line-height:30px;
	font-family: 'Source Sans Pro', sans-serif;
}

.three-link a {
	color: #000000;
	text-decoration:none;
}

.three-link a:hover {
	color: #c6c6c6;
}

.three-big {
	font-size:22px;
}

.fourth-container-wrapper {
	background:#DBDEDD;
	box-shadow:inset 0px 1px 2px rgba(0,0,0,.2);
}

.fourth-container {
	width:900px;
	margin:0 auto;
	padding: 0px 0px 30px;
}

.fourth-container-h3 {
	
	color: #253E71;
	margin:0 auto;
	font-weight: 300;
	padding-top: 20px;
	padding-bottom: 10px;
	float:left;
	letter-spacing:2px;
	font-size:26px;
}

.sponsor {
	float:left;
	width:297px;
	height:200px;
	border-radius: 8px;
	margin: 25px;
	text-align:center;
	color:#253E71;
	border:1px solid rgba(0,0,0,.1);
}

.sponsor p {
	padding-top:17px;
}

.sponsortwo p {
	margin-bottom:10px;
}

.sponsor:hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);
	cursor: pointer;
	background: #DEDEDE;
}

.sponsorcontainer {
	width:700px;
	margin: 20px auto 0px;
}

.webcare {
	background: #DEDEDE;
	width:615px;
	margin: 0 auto;
	height:0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);
	border-radius:8px;
	overflow: hidden;
}

.webcare h4 {
	margin: 0;
	color:#253E71;
	padding:20px 20px 0px 20px;
}

.webcare p {
	margin: 10px 0px 0px 0px;
	line-height:26px;
	padding: 0px 20px 20px 20px;
}

.hive h4 a, .webcare h4 a {
	color:#253E71;
}

.hive {
	background: #DEDEDE;
	width:615px;
	margin: 0 auto;
	height:0px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,.1);
	border-radius:8px;
	overflow: hidden;
}

.hive h4 {
	margin: 0;
	color:#253E71;
	padding:20px 20px 0px 20px;
}

.hive p {
	margin: 10px 0px 0px 0px;
	line-height:26px;
	padding: 0px 20px 20px 20px;
}

footer {
	background:#081839;
}

.footer-content {
	width: 900px;
	margin: 0 auto;
	padding:20px 0px 80px;
}

.footer-h3 {
	float:right;
	color:#ffffff;
	margin: 0;
	padding: 20px 25px;
	border-radius: 10px;
	transition: all .4s;
-webkit-transition: all .4s;
}

.footer-h3:hover {
	background: #1D3056;
}

.footer-h4 {
	color: #ffffff;
	margin:0;
	font-weight: 300;
	float:left;
	padding: 20px 25px;
}

.clearfix {
	clear:both;
}

.recenttalks {
	
}

.fifth-container-wrap	{
	background:#132752;
	padding:0px 0px 30px;
}

.fifth-container {
	width:900px;
	margin: 0 auto;

	
}

.recenttalks-p {
	border-bottom: 1px solid #F6F6F6;
margin: 0 auto;
font-weight: 300;
padding-top: 20px;
padding-bottom: 10px;
font-size: 36px;
width: 200px;
color:#F6F6F6;
}

.atalk {
	
	border-radius:10px;
	padding:15px 10px;
	width: 700px;
	margin: 0 auto;
	
}

.avatar-holder {
	
	height:100px;
	
	text-align:center;
}

.avatar-holder img {
	margin-top:35px;
	border-radius:100px;
}

.talk-p {
	color:#D9D9D9;
	font-weight:300;
	font-size:16px;
}

.talk-h {
	font-size:20px;
	color:#D9D9D9;
	font-weight:300;
}

.talk-holder {
	text-align:center;
	margin-top: 36px;
}

/* Mobile Only */

.mobilenav {
	display: none;
	position: fixed;
z-index: 20;
background:rgba(0,0,0,.6);
width:100%;

}

.mobile-hamburger {
	float:left;
	margin:0;
	padding:12px 24px 9px 20px;
	background:#000000;
}

.mobile-hamburger:hover  {
	cursor:pointer;
}

.mobile-burger-image {
	width:35px;
}

.mobile-logo {
	float:left;
	margin:0;
	font-weight: 100;
	color:#ffffff;
	margin-left: 20px;
	padding-top:9px;
	}


.mobile-navicon {
	float: left;
	margin:0;
}

.mobile-sponsors {
	display: none;
}

.mobile-sponsor-link {
	font-size:26px;
	color:#253E71;
	text-align: center;
	background:#D1D1D1;
	margin-top:20px;
	width:300px;
	margin:0 auto;
	padding: 20px 0px;
	border-radius:8px;
	border:1px solid rgba(0,0,0,.1);
}

/* ******************* NEWSLETTER PAGE ******************** */

input[type=text],
input[type=email] {
    -webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}

.mailing-list {
	padding: 100px 250px 100px;
}

.mailing-list-signup {
	padding:20px;
	background: rgba(255, 255, 255, .9);
	border-radius: 2px;
	box-shadow: 0px 0px 25px rgba(0,0,0,.7);	
}

.mailing-list-signup .textinput {
	width:100%;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	border:none;
	padding:10px 4px;
	color:#b2b2b2;
	background: transparent;
	border-bottom:2px solid #b2b2b2;

}

.mailing-list-signup .textinput:focus, .mailing-list-signup .textinput:active {
	border:none;
	outline:none;
	border-bottom:2px solid #253E71;
	background:transparent;
}

.ml1 {
	margin-bottom:7px;
}

.ml1 label {
	font-size:26px;
	color: #253E71;
	font-weight:300;
	text-transform:uppercase;
	padding-left:2px;
}

.ml3 {
	margin-top:12px;
	width:145px;
	margin:19px auto 0px;
}

.ml3 input {
	font-size: 22px;
	border:none;
	padding: 12px 30px 13px;
	color:#253E71;
	border-radius: 3px;
		transition:background .5s, color .5s, border .5s;
	-webkit-transition: background .5s, color: .5s;
	border-bottom:2px solid #C3BFBF;
	font-weight: 600;
	text-transform: uppercase;
	background: #DBDBDB
}

.ml3 input:hover {
	background:#081839;
	color:#f7f7f7;
	border-bottom:2px solid #081839;
	cursor: pointer;
}

.mailing-list-copy {
	margin-top: 24px;
	border-top:1px solid #D1D1D1;
	margin-bottom: 24px;
	border-bottom:1px solid #d1d1d1;
}

.mailing-list-copy p {
	color:#253E71;
	font-weight: 400;
	font-style:italic;
	text-align: center;	
}

.mailing-list-copy-heading {
	font-size:26px;
	color: #253E71;
	font-weight:300;
	text-transform:uppercase;
	padding-left:2px;
	margin-bottom:20px;
}

.mailing-list-copy-p {
	color: #253E71;
	font-family: "Source Sans Pro", sans-serif;
font-weight: 400;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #8f8f8f;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #8f8f8f;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #8f8f8f;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #8f8f8f;
}

/* ************ END NEWSLETTER CSS *************** */

/* Media Queries */

@media only screen and  (min-width:901px) and (max-width: 1100px) {
	 .mailing-list {
	padding: 100px 150px 100px;
	}
}

@media only screen and (min-width: 0px) and (max-width: 900px) {

.mobilenav {
	display: block;
}

.heading-image {
	max-width: 100%;
}

nav {
	display: none;
}

.leftnav {
	width:270px;
 }

 .mailing-list {
	padding: 100px 50px 100px;
}



.main-container-2 {
	width:auto;
	margin:0px 20px;
} 

.main-container-h3 {
	padding-top:5px;
	font-size: 28px;
	width: 75px;
}

.main-container-p {
		font-size:16px;
		line-height:27px;
}

.third-container-3 {
	width:auto;
	padding:5px 20px 20px;	
}

.third-container-h3 {
	padding-top:15px;
	font-size: 28px;
	width:148px;
}

.first-mobile-three-link {
	margin-top:25px;
}

.fourth-container {
	width:100%;
}

.footer-content {
	width:100%;
}

.mainfooter {
	padding:0px 10px;
}

.navleft h3 {
	font-weight:300;
}

.footer-h4 {
	font-size:14px;
}

}


@media only screen and (min-width: 0px) and (max-width: 700px) {

.heading {
	width:100%;
}

.main-container {
		height:auto;
		background-image:url('../images/tools-mobile.png');
		background-position: center center;
	  
	  /* Background image doesn't tile */
	  background-repeat: no-repeat;
	  
	  /* Background image is fixed in the viewport so that it doesn't move when 
	     the content's height is greater than the image's height */
	  
	  
	  /* This is what makes the background image rescale based
	     on the container's size */
	  background-size: cover; 
}

.sponsor-container-section {
	display: none;
}



.main-container-1 {
	width:100%;
}

.main-container-h2 {
	line-height:32px;
	font-size:22px;
	padding:22px 20px;
}

.mobile-sponsors {
	display: block;
}

.fourth-container-h3 {
	margin-bottom: 27px;
}

}

@media only screen and (min-width: 0px) and (max-width: 900px) {

.line-holder, .line-holder-2 {
	width:100% !important;
}

.line-holder  {
	padding-top:5px;
}

.line-holder-3 {
	width:90% !important;
}

.line-holder-2 {
	padding-top:5px;
}

.line-holder-3 {
	padding-top:5px;
}

.line-holder h3 {
	border-bottom:1px solid rgba(255, 255, 255, .8);
}

.line-holder-2 h3 {
	border-bottom:1px solid #000000;
}

.line-holder-3 h3 {
	border-bottom:1px solid #253E71;
}

.line1, .line2 {
	display:none !important;
	visibility: hidden !important;
	height:0px;
	overflow: hidden;
	opacity:0 !important;
}

.main-container-h3, .third-container h3, .fourth-container-h3 {
	width:100%;
	text-align:center;
}

}

@media handheld, screen and (max-width: 900px) {
	.line1, .line2 {
		display:none !important;
		visibility: hidden !important;
		height:0px;
		overflow: hidden;
		opacity:0 !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
	 .mailing-list {
	padding: 100px 15px 100px;
	}
}

